{{extend 'layout.html'}}

{{=form}}
<div class="panel">
{{for cheep in cheeps:}}
<div class="cheepWrapper">
<img class="avatar" src={{=URL('default/download', cheep.author.picture)}}/>
        <span class="name">{{=(cheep.author.first_name)}}</span> @{{=cheep.author.handle}} 
        <p>
            {{=cheep.body}}</a>
        </p>
         <span class="time" style="padding-left:30px;"> on {{=cheep.tstamp}} </span>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Reply
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          {{=cheep.body}}
           
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  

</div>
{{pass}}
</div>
