{{extend 'layout.html'}}
<script>
  function fillModal(parent, a){
    //document.getElementById("replyCheeps"+a).innerHTML = "THIS IS A TEST"
    var form = new FormData();
    form.append("cheep_id", parent);

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "{{=URL('cheepPage')}}",
      "method": "POST",
      "processData": false,
      "contentType": false,
      "mimeType": "multipart/form-data",
      "data": form
    }

    $.ajax(settings).done(function (response) {
      console.log(response);
      document.getElementById("replyCheeps"+a).innerHTML = response;
    });
  }

    function likeCheep(cheepId, a){
    //document.getElementById("replyCheeps"+a).innerHTML = "THIS IS A TEST"
    var form = new FormData();
    form.append("cheepId", cheepId);

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "{{=URL('like')}}",
      "method": "POST",
      "processData": false,
      "contentType": false,
      "mimeType": "multipart/form-data",
      "data": form
    }

    $.ajax(settings).done(function (response) {
      console.log(response);
      n = parseInt(document.getElementById("likeButton"+a).innerHTML.trim().split(" ")[1]);

      document.getElementById("likeButton"+a).innerHTML = "Like " + (n+parseInt(response));
    });
  }

  function deleteCheep(cheepId){
  //document.getElementById("replyCheeps"+a).innerHTML = "THIS IS A TEST"
  var form = new FormData();
  form.append("cheepId", cheepId);

  var settings = {
    "async": true,
    "crossDomain": true,
    "url": "{{=URL('deleteCheep')}}",
    "method": "POST",
    "processData": false,
    "contentType": false,
    "mimeType": "multipart/form-data",
    "data": form
  }

  $.ajax(settings).done(function (response) {
    console.log(response);
    window.location = "{{=URL('home')}}";
  });
}

function recheepButton(cheepId){
    //document.getElementById("replyCheeps"+a).innerHTML = "THIS IS A TEST"
    var form = new FormData();
    form.append("cheepId", cheepId);

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "{{=URL('recheep')}}",
      "method": "POST",
      "processData": false,
      "contentType": false,
      "mimeType": "multipart/form-data",
      "data": form
     }

    $.ajax(settings).done(function (response) {
      console.log(response);
    window.location = "{{=URL('home')}}";
    });
  }

  function render(cheepBody){
    var res = cheepBody.split(" ");
    var parsed = '';
    for(i=0;i<res.length;i++){
      if(res[i][0]=='#'){
        parsed+=' <a href="http://127.0.0.1:8000/Tweety/default/search?name=';
        parsed+=res[i].substring(1,res[i].length)
        parsed+= '">';
        parsed+=res[i];
        parsed+='</a> ';
        //res[i].substring(1,res[i].length)
      }
      else parsed+=res[i];
      parsed+=' ';
    }
    document.write(parsed);
  }

 </script>
{{a=0}}
{{=form}}
<div class="panel">
{{for cheep in cheeps:}}
    {{a=cheep.id}}
<div class="cheepWrapper">
  {{if cheep.author.picture:}}
  <img class="avatar" src={{=URL('default/download', cheep.author.picture)}}/>

  {{else:}}
  <img class="avatar" src={{=URL('static', 'images/default_avatar.png')}}/>
  {{pass}}
          <span class="name">{{=(cheep.author.first_name)}}</span> @{{=cheep.author.handle}}
        {{if cheep.author != cheep.orig_author: }}
            <span>| Recheep from @{{=cheep.orig_author.handle}}</span>
        {{pass}}
        {{if cheep.author==auth.user.id:}}
        <img style="width:10px; height=10px; float:right; margin: 10px 19px 0;" onclick="deleteCheep({{=cheep.id}})" src={{=URL('static','cross.png')}}/>
        {{pass}}
        <p>
            <script>render("{{=cheep.body}}");</script>
        </p>
         <span class="time" style="padding-left:30px;"> on {{=cheep.tstamp}} </span>
        <button type="button" class="btn btn-primary" id="likeButton{{=a}}" onclick="likeCheep({{=cheep.id}}, {{=a}})">
    Like {{=cheep.likes}}

  </button>
        <button type="button" class="btn btn-primary" onclick="fillModal({{=cheep.id}},{{=a}})" data-toggle="modal" data-target={{="#myModal"+str(a)}}>
    Reply

  </button>
<button type="button" class="btn btn-primary"  onclick="recheepButton({{=cheep.id}})" >
    Recheep

  </button>
  <!-- The Modal -->
  <div class="modal fade" id={{="myModal"+str(a)}}>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" id={{="replyCheeps"+str(a)}}>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
{{pass}}
</div>
