{{extend 'layout.html'}}
<script>
  function fillModal(parent, a){
    //document.getElementById("replyCheeps"+a).innerHTML = "THIS IS A TEST"
    var form = new FormData();
    form.append("cheep_id", parent);

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "{{=URL('cheepPage')}}",
      "method": "POST",
      "processData": false,
      "contentType": false,
      "mimeType": "multipart/form-data",
      "data": form
    }

    $.ajax(settings).done(function (response) {
      console.log(response);
      document.getElementById("replyCheeps"+a).innerHTML = response;
    });
  }

	function likeCheep(cheepId, a){
    //document.getElementById("replyCheeps"+a).innerHTML = "THIS IS A TEST"
    var form = new FormData();
    form.append("cheepId", cheepId);

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "{{=URL('like')}}",
      "method": "POST",
      "processData": false,
      "contentType": false,
      "mimeType": "multipart/form-data",
      "data": form
    }

    $.ajax(settings).done(function (response) {
      console.log(response);
      n = parseInt(document.getElementById("likeButton"+a).innerHTML.trim().split(" ")[1]);

      document.getElementById("likeButton"+a).innerHTML = "Like " + (n+parseInt(response));
    });
  }
	function recheepButton(cheepId){
    //document.getElementById("replyCheeps"+a).innerHTML = "THIS IS A TEST"
    var form = new FormData();
    form.append("cheepId", cheepId);

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "{{=URL('recheep')}}",
      "method": "POST",
      "processData": false,
      "contentType": false,
      "mimeType": "multipart/form-data",
      "data": form
    }

    $.ajax(settings).done(function (response) {
      console.log(response);
    window.location = "{{=URL('home')}}";
    });
  }
 </script>
<div class="leftPanel">
{{for det in details:}}
<img class="leftAvatar" src={{=URL('default/download', det.picture)}}/>
</br>
{{=det.first_name}}
{{=det.last_name}}
</br>
@{{=det.handle}}
</br>
</br>
Cheeps:{{=totCheeps}}
</br>
Followers:{{=totFollowers}}
{{pass}}
</br>
{{if user.id!=auth.user.id:}}
{{if isFollow == True:}}
	<button onclick="ajax('{{=URL('follow',args=('unfollow',user.id))}}',[],null);$(this).parent().html('Unfollowed')">Unfollow</button>
    {{else:}}
    <button onclick="ajax('{{=URL('follow',args=('follow',user.id))}}',[],null);$(this).parent().html('Followed')">Follow</button>

{{pass}}
{{pass}}
</div>
<div class="panel">
	{{for cheep in cheeps:}}
	    {{a=cheep.id}}
	<div class="cheepWrapper">
	<img class="avatar" src={{=URL('default/download', cheep.author.picture)}}/>
	        <span class="name">{{=(cheep.author.first_name)}}</span> @{{=cheep.author.handle}}
	        {{if cheep.author != cheep.orig_author: }}
	            <span>| Recheep from @{{=cheep.orig_author.handle}}</span>
	        {{pass}}
	        <p>
	            {{=cheep.body}}</a>
	        </p>
	         <span class="time" style="padding-left:30px;"> on {{=cheep.tstamp}} </span>
	        <button type="button" class="btn btn-primary" id="likeButton{{=a}}" onclick="likeCheep({{=cheep.id}}, {{=a}})">
	    Like {{=cheep.likes}}

	  </button>
	        <button type="button" class="btn btn-primary" onclick="fillModal({{=cheep.id}},{{=a}})" data-toggle="modal" data-target={{="#myModal"+str(a)}}>
	    Reply

	  </button>
	<button type="button" class="btn btn-primary"  onclick="recheepButton({{=cheep.id}})" >
	    Recheep
	  </button>
	  <!-- The Modal -->
	  <div class="modal fade" id={{="myModal"+str(a)}}>
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">Modal Heading</h4>
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>
	        <div class="modal-body" id={{="replyCheeps"+str(a)}}>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	    </div>
	  </div>

	</div>
	{{pass}}
	</div>
