<script>
  function fillModal(parent, a){
    //document.getElementById("replyCheeps"+a).innerHTML = "THIS IS A TEST"
    var form = new FormData();
    form.append("cheep_id", parent);

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "{{=URL('cheepPage')}}",
      "method": "POST",
      "processData": false,
      "contentType": false,
      "mimeType": "multipart/form-data",
      "data": form
    }

    $.ajax(settings).done(function (response) {
      console.log(response);
      document.getElementById("replyCheeps"+a).innerHTML = response;
    });
  }

	function likeCheep(cheepId, a){
    //document.getElementById("replyCheeps"+a).innerHTML = "THIS IS A TEST"
    var form = new FormData();
    form.append("cheepId", cheepId);

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "{{=URL('like')}}",
      "method": "POST",
      "processData": false,
      "contentType": false,
      "mimeType": "multipart/form-data",
      "data": form
    }

    $.ajax(settings).done(function (response) {
      console.log(response);
      n = parseInt(document.getElementById("likeButton"+a).innerHTML.trim().split(" ")[1]);

      document.getElementById("likeButton"+a).innerHTML = "Like " + (n+parseInt(response));
    });
  }

  function deleteCheep(cheepId){
  //document.getElementById("replyCheeps"+a).innerHTML = "THIS IS A TEST"
  var form = new FormData();
  form.append("cheepId", cheepId);

  var settings = {
    "async": true,
    "crossDomain": true,
    "url": "{{=URL('deleteCheep')}}",
    "method": "POST",
    "processData": false,
    "contentType": false,
    "mimeType": "multipart/form-data",
    "data": form
  }

  $.ajax(settings).done(function (response) {
    console.log(response);
    location.reload();
  });
}
function render(cheepBody){
  var res = cheepBody.split(" ");
  var parsed = '';
  for(i=0;i<res.length;i++){
    if(res[i][0]=='#'){
      parsed+=' <a href="http://127.0.0.1:8000/Tweety/default/search?name=';
      parsed+=res[i].substring(1,res[i].length)
      parsed+= '">';
      parsed+=res[i];
      parsed+='</a> ';
      //res[i].substring(1,res[i].length)
    }
    else parsed+=res[i];
    parsed+=' ';
  }
  document.write(parsed);
}
	function recheepButton(cheepId){
    //document.getElementById("replyCheeps"+a).innerHTML = "THIS IS A TEST"
    var form = new FormData();
    form.append("cheepId", cheepId);

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "{{=URL('recheep')}}",
      "method": "POST",
      "processData": false,
      "contentType": false,
      "mimeType": "multipart/form-data",
      "data": form
    }

    $.ajax(settings).done(function (response) {
      console.log(response);
    window.location = "{{=URL('home')}}";
    });
  }
 </script>
