{{extend 'layout.html'}}
{{include 'default/script.html'}}

<h2>Search away!</h2>
<input type="text" id="name">
<button onclick='name=document.getElementById("name").value; console.log(name); location.href="search?name="+name'>Submit</button>
{{if people:}}
<h3>
    Birdies:
</h3>
{{for user in people:}}
{{=A(user.first_name, _href=URL('profile', args=user.id))}}
{{if user.id != auth.user.id:}}
{{if user.isFollow == True:}}
	<button onclick="ajax('{{=URL('follow',args=('unfollow',user.id))}}',[],null);$(this).parent().html('Unfollowed')">Unfollow</button>
    {{else:}}
    <button onclick="ajax('{{=URL('follow',args=('follow',user.id))}}',[],null);$(this).parent().html('Followed')">Follow</button>

{{pass}}
{{pass}}
{{pass}}
{{pass}}
{{if hashCheep:}}
<h3>
    Cheeps:
</h3>
<div class="panel">
{{for cheep in hashCheep:}}
    {{a=cheep.id}}
<div class="cheepWrapper">
<img class="avatar" src={{=URL('default/download', cheep.author.picture)}}/>
        <span class="name">{{=(cheep.author.first_name)}}</span> @{{=cheep.author.handle}}
        {{if cheep.author != cheep.orig_author: }}
            <span>| Recheep from @{{=cheep.orig_author.handle}}</span>
        {{pass}}
        {{if cheep.author==auth.user.id:}}
        <img style="width:10px; height=10px; float:right; margin: 10px 19px 0;" onclick="deleteCheep({{=cheep.id}})" src={{=URL('static','cross.png')}}/>
        {{pass}}
        <p>
            <script>render("{{=cheep.body}}");</script>
        </p>
         <span class="time" style="padding-left:30px;"> on {{=cheep.tstamp}} </span>
        <button type="button" class="btn btn-primary" id="likeButton{{=a}}" onclick="likeCheep({{=cheep.id}}, {{=a}})">
    Like {{=cheep.likes}}

  </button>
        <button type="button" class="btn btn-primary" onclick="fillModal({{=cheep.id}},{{=a}})" data-toggle="modal" data-target={{="#myModal"+str(a)}}>
    Reply

  </button>
<button type="button" class="btn btn-primary"  onclick="recheepButton({{=cheep.id}})" >
    Recheep

  </button>
  <!-- The Modal -->
  <div class="modal fade" id={{="myModal"+str(a)}}>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" id={{="replyCheeps"+str(a)}}>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
{{pass}}
</div>
{{pass}}
